/* ####### SIDECHOICE ####### */
.sideChoice {
    display: flex;
  }
  
  aside {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px;
    right: 20px;
    width: 5em;
    transition: all 0.5s;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  aside:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }
  
  aside img {
    width: 100%;
  }

  aside img:hover ~ .sideTitle {
    opacity: 0;
  }

  .sideTitle {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    pointer-events: none;
    background-color: #000000d8;
    color: #e0e0e0;
    transition: all 0.5s;
  }
  
  .side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    background-size: cover;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 0;
  }
  
  .side:hover {
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
  }
  
  .side img {
    min-width: 150px;
    width: 25%;
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 162, 255, 0.25));
    filter: drop-shadow(0px 0px 1px rgba(0, 162, 255, 0.25));
    transition: all 0.5s;
  }
  
  .lightSide {
    background-image: url(../img/lightSide.jpg);
    background-position: top left;
  }
  
  .lightSide:hover img {
    -webkit-filter: drop-shadow(0px 0px 5px #00a2ffb3);
    filter: drop-shadow(0px 0px 5px #00a2ffb3);
  }
  
  .darkSide {
    background-image: url(../img/darkSide.jpg);
    background-position: top right;
  }
  
  .darkSide:hover img {
    -webkit-filter: drop-shadow(0px 0px 7px #ff0000);
    filter: drop-shadow(0px 0px 7px #ff0000);
  }
  
  .sideInfo {
    font-size: 1.05em;
    text-align: center;
    max-width: calc(100% - 40px);
    padding: 5px 10px;
    bottom: 20px;
    pointer-events: none;
    color: #e0e0e0;
    background-color: #000000d8;
  }
  
  .sideDisclaimer {
    font-size: 12px;
    padding: 5px 10px;
    top: 20px;
    pointer-events: none;
    color: #e0e0e0;
    background-color: #000000d8;
  }
  
  .lightSide:hover ~ .sideInfo,
  .lightSide:hover ~ .sideDisclaimer {
    background-color: #e0e0e0ab;
    color: #000000;
  }