/* ####### GENERAL ####### */
/* #### THEME #### */
.app {
  --main-border-color: #000000d8;
  --main-background-color: #000000e3;
  --main-text: #e0e0e0;
}

.app[data-theme="dark"] {
  --main-background-image: url(./img/darkBg.jpeg); /* © Jonathan Berube: https://www.this-is-cool.co.uk/the-stunning-star-wars-art-of-jonathan-berube/ */
  --main-background-about-image: url(./img/darkIntroAbout.jpg);
  --main-background-situation-image: url(./img/darkIntroSituation.png);
  --main-background-color: #000000e3;
  --main-text: #e0e0e0;
  --main-side: #ff0000;
}

.app[data-theme="light"] {
  --main-background-image: url(./img/lightBg.jpg);
  --main-background-about-image: url(./img/lightIntroAbout.jpg);
  --main-background-situation-image: url(./img/lightIntroSituation.jpg);
  --main-background-color: #e0e0e08c;
  --main-text: #000000;
  --main-side: #00a2ffb3;
}

/* #### OTHER RULES #### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color 0.5s ease, background-color 0.5s ease;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,h2,h3,p,i {
  color: var(--main-text);
}

.background {
  position: fixed;
  background: var(--main-background-image);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.block {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  scroll-snap-align: start;
}

.block:not(:first-of-type){
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 20px 20px;
}

.block:after {
  content: "";
  position: absolute;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  top: 10px;
  left: 10px;
  background-color: #00000013;
  border: 1px solid var(--main-border-color);
  pointer-events: none;
  z-index: 10;
}

.absCenterHorizontally {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  z-index: 1;
}

img {
  user-select: none;
}

.box {
  background-color: var(--main-background-color);
  border: 1px solid var(--main-border-color);
}
  
.title {
  position: absolute;
  z-index: 5;
  top: 20px;
  font-size: 1.5em;
  padding: 5px 10px;
  transition: all 0.5s;
  height: 40px;
}

.restart {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 5em;
  z-index: 2;
}

/* DIVIDER */

.divider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-image: url(./img/divider.png);
  background-position: center -150px
}

.divider:after {
  content: "";
  position: absolute;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  top: 10px;
  left: 10px;
  border: 1px solid var(--main-border-color);
  pointer-events: none;
}

.divider h2 {
  font-size: 35px;
  text-align: center;
  padding: 5px 10px;
  max-width: calc(100% - 40px);
}
