/* ####### GENERAL ####### */
/* #### THEME #### */
.app {
  --main-border-color: #000000d8;
}

.app[data-theme="dark"] {
  --main-background-image: url(./img/darkIntroBg.jpg);
  --main-background-color: #000000d8;
  --main-text: #e0e0e0;
  --main-side: #ff0000;
}

.app[data-theme="light"] {
  --main-background-image: url(./img/lightIntroBg.jpg);
  --main-background-color: #e0e0e071;
  --main-text: #000000;
  --main-side: #00a2ffb3;
}

/* #### OTHER RULES #### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color 0.5s ease, background-color 0.5s ease;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,h2,h3,p,i {
  color: var(--main-text);
}

.background {
  position: fixed;
  background-image: var(--main-background-image);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.block {
  width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

.absCenterHorizontally {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  z-index: 1;
}

.block:after {
  content: "";
  position: absolute;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  top: 10px;
  left: 10px;
  background-color: #0000002d;
  border: 1px solid var(--main-border-color);
  pointer-events: none;
}

img {
  user-select: none;
}

.box {
  background-color: var(--main-background-color);
  border: 1px solid var(--main-border-color);
}